@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jost", sans-serif;
    background: #16111d;
    color: #e9dff0;
    min-height: 100vh;
}

@keyframes open-filenav {
    from {bottom: -200px;}
    to {bottom: 0;}
}

.filenav-open-anim {
    animation-name: open-filenav;
    animation-duration: 0.2s;
}

.commit-container:last-child .last-hidden {
    display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

@keyframes shimming {
    0% {
        left: -100%;
    }
    100% {
        left: 200%;
    }
}

.shimmer {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200%;
    width: 30px;
    background: #9ca3af30;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: shimming 1.1s linear infinite;
}
